.page-header
  = link_to new_seller_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Seller
  %h1 Listing sellers

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @sellers.each do |seller|
      %tr
        %td= seller.name
        %td= link_to 'Show', seller
        %td= link_to 'Edit', edit_seller_path(seller)
        %td= link_to 'Destroy', seller, :confirm => 'Are you sure?', :method => :delete
