:sass
  .sales-form .control-group
    margin: 0

= simple_form_for(@sale) do |f|
  = f.error_notification

  .form-inputs
    %table.sales-form.table.table-striped
      %thead
        %tr
          %th Seller
          %th Sale
          %th Buy
      - Seller.for_sale_form.each do |seller|
        %tr
          %th= seller.name
          %td
            = render partial: "sale_field", locals: { f: f, transaction: @sale.transaction_for('Selling', seller) }
          %td{:style => 'text-align: center;'}
            - if seller.store?
              = render partial: "sale_field", locals: { f: f, transaction: @sale.transaction_for('Buying', seller) }
            - else
              &mdash;
      %tr.totals
        %td
        %td.total.selling
          0
        %td.total.buying
          0

  .form-actions
    = f.button :submit, :class => "btn-primary"

:coffee
  $ ->
    updateTotalsForType = (ttype) ->
      sum = 0
      $('[data-transaction-type=' + ttype + '] .amount input').each ->
        sum += Number($(this).val())
      $(".total." + ttype.toLowerCase()).text sum

    updateTotalsForType "Buying"
    updateTotalsForType "Selling"

    $('.amount input').keyup ->
      ttype = $(this).closest('[data-transaction-type]').data('transaction-type')
      updateTotalsForType(ttype)
