.page-header
  = link_to new_sale_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Sale
  %h1 Listing sales

%table.table-sales
  %thead
    %tr
      %th
      %th Time
      %th Sell
      %th Trade
      %th Buy
      %th
  - @sales.order_by_time.each_with_index do |sale, i|
    %tbody
      %tr{:class => (i % 2 == 1 ? "alt" : "")}
        %td
          %span{:"data-toggle" => ".#{dom_id(sale)}"}
            %i.icon.icon-chevron-right.toggleon
            %i.icon.icon-chevron-down.toggleoff
        %td= link_to sale_time(sale), sale
        - sale.transaction_totals.each do |trans_type, trans_total|
          %td
            %span= number_to_currency(trans_total)
        %td.actions{:width => '100px'}
          = link_to edit_sale_path(sale), class: "btn btn-mini" do
            %i.icon.icon-edit
          = link_to sale, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger btn-mini" do
            %i.icon.icon-trash
      - sale.transactions.group_by(&:seller).each do |seller, transactions|
        %tr{:class => "details hide #{dom_id(sale)} #{i % 2 == 1 ? "alt" : ""}"}
          %td.seller{:colspan => "2"}= seller.name
          %td= money_for transactions.select(&:sale?)
          %td= money_for transactions.select(&:trade?)
          %td= money_for transactions.select(&:buy?)
          %td
  %tbody
    %tr
      %td
        %span{:"data-toggle" => ".totals"}
          %i.icon.icon-chevron-right.toggleon
          %i.icon.icon-chevron-down.toggleoff
      %td Totals
      %td= number_to_currency @sales.map(&:transactions).flatten.select(&:sale?).map(&:amount).sum
      %td= number_to_currency @sales.map(&:transactions).flatten.select(&:trade?).map(&:amount).sum
      %td= number_to_currency @sales.map(&:transactions).flatten.select(&:buy?).map(&:amount).sum
      %td
    - @sales.map(&:transactions).flatten.map(&:seller).uniq.each do |seller|
      %tr{:class => "totals hide"}
        %td.seller{:colspan => 2}= seller.name
        %td= money_or_your_dash @sales.map(&:transactions).flatten.select {|t| t.seller== seller }.select(&:sale?).map(&:amount).sum
        %td= money_or_your_dash @sales.map(&:transactions).flatten.select {|t| t.seller== seller }.select(&:trade?).map(&:amount).sum
        %td= money_or_your_dash @sales.map(&:transactions).flatten.select {|t| t.seller== seller }.select(&:buy?).map(&:amount).sum
