!!!5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Next Level Sales
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => new_sale_path} Next Level Sales
          .nav-collapse
            %ul.nav
              = navbar_li "New Sales", new_sale_path
              = navbar_li "Sales List", sales_path
              = navbar_li "Metrics", metrics_path
              = navbar_li "Sellers", sellers_path
              = navbar_li "Contributions", contributions_path
            %p.navbar-text.pull-right
    .container-fluid
      .row-fluid
        -# .span2
        .span12
          - flash.each do |name, msg|
            = content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do
              %a.close{:href => "#", :"data-dismiss" => "alert"} ×
              = msg
          = yield
      %hr
      %footer
        %p &copy; Next Level Games 2013
